# Prevent paths like .gitignore, .gitattributes, etc from being archived in the release zip.
.* export-ignore

# Don't Include the README and LICENSE in acrhives
README.md export-ignore
LICENSE export-ignore
